div#user{
 min-height: 50px;
    
 }

 div#userinfo{
     color: #D8D8D8;
 }

div#container{
    width: 900px;
    margin: auto;
    clear: both;
}

div#header{
    min-height: 50px;
    
}

div#content{
   text-align:center ;
  
}
