body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

table {
    border-collapse: separate;
    width: 65%;
}

.td1 {
    width: 50%;
}

.td2{
    text-align: right;
    width: 50%;
}

.form-registro {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-registro .form-registro-heading-heading,
.form-registro .checkbox {
  margin-bottom: 10px;
}
.form-registro .checkbox {
  font-weight: normal;
}
.form-registro .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-registro .form-control:focus {
  z-index: 2;
}
.form-registro input[type="nombre"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-registro input[type="apellido"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-registro input[type="correo"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-registro input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

